body {
  margin: 0px;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
ul,
p,
dd,
span,
blockquote {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  padding: 0px;
  list-style: none;
}

/* Elemento para colocar estilos em lugares fixos, como jpg do site com arredondamento de bordas,isso aplica em todos os arquivos de jpg ou arquivos que vc definir*/
img[src$=".jpg"] {
  border-radius: 4px;
}
